.container {
    margin: 30px 0;
}

.card {
    margin: 0px 44px !important;
}

.infected {
    border-bottom: 9px solid rgba(14, 14, 58, 0.8);

    .I-bottom {
        width: 60%;
        border-bottom: 2px solid rgba(36, 36, 138, 0.6);
    }
}

.recovered {
    border-bottom: 9px solid rgba(38, 167, 55, 0.8);

    .R-bottom {
        width: 40%;
        border-bottom: 2px solid rgba(52, 224, 75, 0.6);
    }
}

.deaths {
    border-bottom: 9px solid rgba(185, 28, 28, 0.8);

    .D-bottom {
        width: 35%;
        border-bottom: 2px solid rgba(233, 36, 36, 0.6);
    }
}